html {
    /* color de fondo de la página */
    background-color: dimgray;
}
body {
    /* Para el body, lo reducimos respecto a la página, centramos y le damos color */
    width: 80%;
    padding: 0 1% 1% 1%;
    margin: -20px auto 10% auto;
    background-color:whitesmoke;
}

div {
    /* Contiene nuestro menú */
    width: 350px;
    margin: 0 auto;
    
}
h1 {
    /* Centramos el título */
    text-align: center;
}
nav {
    /* Acercamos la caja del NAV al título */
    position: relative;
    top: -20px;
}
#Strong, #Mark, #Span {
    /* Resaltamos los títulos de los apartados */
    font-size: large;
}
p {
    /* Separamos los párrafos de los títulos de los apartados */
    margin: 3px 0 15px 0;
}
section strong:target {
    /* Modificamos el aspecto de los títulos de párrafo cuando son enlazados en el menú */
    color:tomato;
    font-variant: small-caps;
    font-size:x-large;
    font-weight: bold;
    letter-spacing: 3px;
}
#menu{
	/*estilo de nuestra lista*/
	list-style:none;
	height: 40px; 
    color: red;
    margin: 0 auto;
}

#menu li{

	/*estilo a cada uno de los elementos(li) de nuestro menu*/
	float:left;/* propiedad importante para que nuestro menu 
	tome la forma horizontal*/
    border-radius: 20px;
    margin: 0 14px;
    padding: 5px 0;
	}
	#menu li a{

		/*estilo de los enlaces */
		color:dimgray; /*prueba un momento con red*/
		text-decoration:none;
		font-family:Helvetica, Arial, sans-serif;
		font-size:16px;
        padding: 10px;
		}

#menu li:hover {
    /* Decoramos los items del menú al pasar por encima con el ratón */
    font-variant: small-caps;
    letter-spacing: 2px;
    font-weight: bold;
    background-color: dimgray;
    
}
#menu li a:hover {
    /* Cambiamos el color de la fuente de los items del menú al pasar por encima */
    color:whitesmoke;
}
/* [data-title]::after {
    content: attr(data-title);
    background-color: whitesmoke;
    color: black;
} */