body {
    width: 80%;
    margin: 0 auto;
}
header {
    background-color: rgb(47, 218, 212);
    position: relative;     /* Para poder usar el pos. absoluto con el menú hamburguesa */
}
main {
    padding-left: 1.5%;
}
header h1 {
    font-size: 6em;
    padding: 2% 0 0 2%;
    margin-top: 0;          /* sin separación superior con el ppio de la página */
    margin-bottom: 0;       /* sin separación inferior con H2 */
}
header h2 {
    font-size: 2em;
    padding: 0 0 2% 2%;
    margin-top: 0;          /* sin separación superior con H1 */
    margin-bottom: 0;
}
figcaption {
    width: 300px;           /* Para que tenga el mismo ancho que la imagen ¿otra forma de hacerlo? */
    /* position: absolute; */     /* Para encajar la leyenda al pie de la imagen, por dentro */
    /* bottom: 0; */
    /* left: 0; */
    background-color: white;
    opacity: .7;
    display: block;
    margin: 0 auto;
}
.caja_img_y_leyenda {
    border: orange 2px solid;
    position: relative;
    margin: 0 auto;

}
.caja_img_y_leyenda figcaption {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    
}
h3 {
    font-size: 1.8em;       /* Aumentamos el tamaño de la fuente */
    margin-top: 10px;       /* Reducimos el margen superior del H3 */
    margin-bottom: 5px;     /* y acercamos el texto al bloque H4 contiguo */
}
h4 {
    font-size: 1.1em;
    margin: 0 0 10px 0;     /* Alejamos el texto del pie de la imagen */
    padding: 0;
}
#menu {
    background-color: rgb(80, 80, 241);
    border: white 3px solid;
    border-radius: 10%;
    position: absolute;
    left: 75%;
    top: 70%;
    opacity: 0.7;
    z-index: 10;
}
header img {
    position: absolute;
    left: 80%;
    top: 20%;
    width: 80px;
    height: 80px;
} 
#menu ul {
    /* margin: 0 auto; */
    padding: 10% 20% 20% 10%;
}
#menu ul li {
    list-style: none;       /* quitamos los puntos de los items de la lista */
    margin-right: 33px;     /* separamos el final de los items de la caja del menú*/
}
#menu ul li a {
    display: block;
    font-size: 1.5em;
    color: whitesmoke;
    text-decoration: none;  /* quitamos las líneas de subrayado */
    
    padding: 0.5rem 0.5rem;
}


figure {
    border: springgreen 2px solid;
    position: relative;     /* Para poder usar el posicionamiento absoluto con el texto de la leyenda */
    display: inline-block;
    margin: 1%;
    width: 30%;
    /* height: 50%; */
}
figure img {
    width: 300px;
    height: 390px;
    display: block;         /* Para centrar la imagen */
    margin: 0 auto;         /* dentro del FIGURE */
    
}
footer {
    margin-top: 2%;         /* Nos separamos del MAIN */
    padding: 2%;            /* Un poco de relleno para separar el contenido del borde */
    border: orchid 2px solid;
    background-color: rgb(47, 218, 212);
    text-align: center;
    

}
footer ul li {
    list-style: none;       /* quitamos los puntos de los items de la lista */
    display: inline;        /* Para presentar los items en horizontal */
}
footer ul {
    padding-left: 0;        /* Para centrar los iconos, quitando el relleno de la izquierda */
}
footer p {
    font-size: .8em;
}